SAMPLE_APP_ID=
BANNER_DASHBOARD_TOP_AD_UNIT_ID=
BANNER_ANALYTICS_BOTTOM_AD_UNIT_ID=
BANNER_HOUSEWORK_TEMPLATE_BOTTOM_AD_UNIT_ID=
REVENUECAT_URL_SCHEME=hometedev
REVENUECAT_API_KEY=
REVENUECAT_TEST_STORE_API_KEY=
